.mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(120, 120, 121);
    /* filter: blur(10px); */
    /* margin: auto; */
    opacity: .6;
    z-index: 9998;
}
.modal{
    position: fixed;
    width: 75vw;
    height: 65vh;
    margin: 15% auto 20% ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background: #fff;
    overflow: hidden;
    z-index: 9999;
    box-shadow:  0 0 20px 1px rgba(100, 100, 100,0.5);
    padding: 24px 20px 64px;
}
.modal-title{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 10px;
}
.modal-content{
    height: 100px;
    padding: 20px 10px;
}
